<div class="aboutMeSection">
<span class="letsWork">Let's work together</span>
<div class="imgBg"></div>
<div class="imgBg2"></div>
<div  class="btnTextWrap">
    <span class="about">Hello, my name is Jonas, and I'm a frontend developer from North Rhine-Westphalia, more precisely from the city of Hagen.

        My passion lies in website and application design, specializing in creating user-friendly interfaces. <br><br>Thanks to my extensive knowledge in HTML, CSS and JavaScript I develop appealing and functional websites.
        
        Solving challenges is a fascinating process for me, where I find creative solutions. I am very adaptable and quick to learn new technologies and frameworks.<br><br> As a frontend developer, I am particularly interested in translating complex concepts into user-friendly interfaces.
        
        Team collaboration is especially close to my heart, as I not only enjoy sharing my knowledge with others, but also learning from experienced developers. <br><br> Their experience and expertise continuously enrich my skills. In addition to my in-depth technical knowledge, I am a team player and always open to new ideas. I look forward to using my skills to successfully implement your projects in North Rhine-Westphalia and beyond.</span>
    <button class="btn">Send a message</button>
</div>


</div>