<div class="fullsite">
    <div class="herosection">
  
      <div class="imgBg"></div>
      <div class="headlineLinks hideMobile">
        <img src="assets/img/icon-white_portfolio.png">
        <a (click)="scrollToTarget('aboutMe')">About me</a>
        <a (click)="scrollToTarget('skillset')">Skill set</a>
        <a (click)="scrollToTarget('projects')">My work</a>
        <a (click)="scrollToTarget('contact')">Contact</a>
      </div>
     
      <img class="portrait" src="assets/img/hero character photo.png">
      <div>
          <div class="tagline">
            <div class="hello"><span>Hello! I am Jonas</span></div>
            <span>FRONTEND</span>  
            <span>DEVELOPER</span>  
          </div>
          <div class="scroll hideMobile">
            <span>Scroll</span>
            <div class="bar"></div>
          </div>
      </div>
      <div class="linkIcons hideMobile">
        <img class="icons" src="assets/img/GitHub_blue.png">
        <img class="icons" src="assets/img/E-Mail_blue.png">
        <img class="icons" src="assets/img/LinkedIn_blue.png">
      </div>
      
    </div>
  </div>