  .containerAll{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .contentInner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        
        .text{
            display: flex;
            flex-direction: column;
            margin: 20px;
            color: black;
            font-family: Montserrat;
        }
    }

    h1{
        color: #5988FF;
        font-weight: 800;
        font-size: 30px;
        font-family: Baloo;
    }

    img{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
   
    }
