<div class="myWork">
    <h2>My work</h2>
    <span>This page is a sample of my work - please feel free to try them out.</span>

    <div class="imgBg1"></div>
    <div class="imgBg2"></div>
    <div class="imgBg3"></div>
    <div class="imgBg4"></div>

    <!--El Polo Loco-->

    <div class="project">
        <img src="assets/img/ElPoloLoco.png" style="z-index: 2;">
        <div class="textBlock">
            <div class="text">
                <span id="name">El Polo Loco</span>
                <span id="tec">HTML, CSS, JAVA SCRIPT</span>
                <span id="description">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>

    <!--JOIN Kanban-->

    <div class="project-join">
        <img src="assets/img/Board Task added.png" style="z-index: 2;">
        <div class="textBlock">
            <div class="text">
                <span id="name">JOIN Kanban</span>
                <span id="tec">HTML, CSS, JAVA SCRIPT</span>
                <span id="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>
    
</div>