<div class="background">
    <span>Skill set</span>
    <div class="skillIcons">
        <img src="assets/img/Angular.png">
        <img src="assets/img/typescript_logo.png">
        <img src="assets/img/JavaScript.png">
        <img src="assets/img/HTML.png">
        <img src="assets/img/Scrum.png">
        <img src="assets/img/Firebase.png">
        <img src="assets/img/Git.png">
        <img src="assets/img/CSS.png">
        <img src="assets/img/RestApi.png">
        <img src="assets/img/MaterialDesign.png">
    </div>
</div>